.staff-container{
    margin: 0 auto;
    padding: 20px;
    padding-right: 20px;
    overflow-x: auto;
    overflow-y: auto;
    background-size: cover;
    background-position: center;
    background-image: url("../../../public/3734225.jpg");
    height: 100%;
    position: fixed;
    width: 100%;
}

.staff-coordination-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 35px;
    padding: 20px;
  }

  .staff-heading{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 3%;
    color: black;
    font-size: 40px;
}
  
  .staff-list table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    color: white; /* White text color */
  }
  
  .staff-list th, .staff-list td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .staff-list th {
    background-color: rgba(255, 255, 255, 0.1); /* Transparent white background for header */
  }
  
  .staff-list tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1); /* Transparent white background for even rows */
  }
  