.appointment-management {
  font-family: Arial, sans-serif;
}

.appointment-management-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.calendar-container,
.reason-container {
  width: 45%;
  color: white;
}

.Calendar{
  color: 0 0 10px rgba(0, 0, 0, 0.1);
}
textarea {
  width: 100%;
  resize: vertical;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004080;
}
