.facility-container {
    margin: 0 auto;
    padding: 20px;
    padding-right: 20px;
    overflow-x: auto;
    overflow-y: auto;
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 50%;
    color: white;
    
  }
.facility-heading{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 3%;
    color: white;
    font-size: 40px;
}

.facility-management-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    
  }
  
  .facility-list {
    margin-top: 20px;
    color: white;
  }
  
  .facility-details {
    border: 1px solid rgb(28 27 27 / 70%);
    padding: 10px;
    margin-bottom: 10px;
    color: white;
  }
  
  .facility-details h3 {
    margin-top: 0;
  }
  
  .facility-details p {
    margin: 5px 0;
  }

.facility-container {
  background-color: rgb(3 15 39 / 96%);
  color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin-left: 20%;
}


.facility-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.facility-container button {
width: auto;
}


.facility-container table {
  width: 100%;
  border-collapse: collapse;

}

.facility-container table th,
.facility-container table td {
  border: 0px solid white;
  padding: 10px;
  text-align: left;

}

.facility-container tr:hover{
  background-color: black;
}

/*table th {
  background-color: #f2f2f2;
}*/

/*.facility-container table tr:nth-child(even) {
  background-color: rgb(3 15 39 / 96%);
}*/

#facility-container-table tr {
  background-color: rgb(1 71 175);
  border-radius: 20%;
  border: 2px solid black;
}



  