/* AnalyticsDashboard.css */
.analytics-container{
    
}
.analytics-dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .analytics-summary {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .analytics-charts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  
  .analytics-charts h2 {
    margin-bottom: 10px;
  }
  
  .recharts-wrapper {
    width: 100%;
    height: 300px;
  }
  