.home-container {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
  margin-top: 60px; /* Adjust the top margin based on the height of your navbar */
}


.quote-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 40px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.box {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.box h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.box p {
  color: #666;
  font-size: 16px;
}


