/* IncidentReportPage.css */
.incident-container{
    margin: 0 auto;
    padding: 20px;
    padding-right: 20px;
    overflow-x: auto;
    overflow-y: auto;
    background-size: cover;
    background-position: center;
    background-image: url("../../../public/3734225.jpg");
    height: 100%;
    position: fixed;
    width: 100%;
}

.incident-report-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 105px;
    padding: 20px;
    background-color: rgb(3 15 39 / 96%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
.incident-report-container  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
.incident-report-container  input[type='text'],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.incident-report-container  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
.incident-report-container  button:hover {
    background-color: #0056b3;
  }
  