/* IncidentReportIcon.css */

.incident-report-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 9999; /* Ensure the icon appears above other content */
  }
  
  .icon {
    color: red; /* Customize icon color */
    font-size: 80px; /* Increase icon size */
  }
  
  .icon:hover {
    color: #0056b3; /* Change icon color on hover */
  }
  