.facility-container {
    margin: 0 auto;
    padding: 20px;
    padding-right: 20px;
    overflow-x: auto;
    overflow-y: auto;
    background-size: cover;
    background-position: center;
    background-image: url("../../../public/3734225.jpg");
    height: 100%;
    position: fixed;
    width: 100%;
    
  }
.facility-heading{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 3%;
    color: black;
    font-size: 40px;
}

.facility-management-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    
  }
  
  .facility-list {
    margin-top: 20px;
    color: white;
  }
  
  .facility-details {
    border: 1px solid rgb(28 27 27 / 70%);
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(28 27 27 / 70%);
    color: white;
  }
  
  .facility-details h3 {
    margin-top: 0;
  }
  
  .facility-details p {
    margin: 5px 0;
  }
  