/* ForgotPassword.css */


.forgot-password-form {
  width: 400px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forgot-password-form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.forgot-password-form label {
  font-weight: 250;
}