body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*background-image: url('../public/Login.jpg'); /* Update the path to your background image */
  background-size: cover;
  background: #ddd;
  background-position: center;
}

label {
  font-weight: bold;
}


input[type="text"],
input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid #ccc;
}



button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}


.form-group {
  margin-bottom: 20px;
}

.form-links {
  margin-top: 15px;
  text-align: center;
}

.form-links a {
  color: #007bff;
  text-decoration: none;
}

.form-links a:hover {
  text-decoration: underline;
}



.success-message {
  color: green;
}

.success-message {
    color: rgb(61 116 20);
    background-color: rgb(207 234 212);
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    width: 88%;

}

.error-message {
    color: rgb(215, 92, 84);
    background-color: rgb(234, 207, 210);
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    width: 88%;

}
