/* SignUpPage.css */



.signup-form {
  width: 400px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="checkbox"] {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}




/* SignUpPage.css */

/* SignUpPage.css */

.toggle {
  position: relative;
  display: inline-block;
  width: 40px; /* Adjust width */
  height: 20px; /* Adjust height */
  margin-left: auto; /* Align to the right */
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px; /* Adjust border-radius */
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px; /* Adjust height */
  width: 16px; /* Adjust width */
  left: 2px; /* Adjust position */
  bottom: 2px; /* Adjust position */
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #007bff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px); /* Adjust position */
  -ms-transform: translateX(20px); /* Adjust position */
  transform: translateX(20px); /* Adjust position */
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px; /* Adjust border-radius */
}

.slider.round:before {
  border-radius: 50%;
}
