.user-profile {
  background-color: rgb(3 15 39 / 96%);
  color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}


.user-profile h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: white;
  text-align: center;

}

.user-profile form {
  margin-bottom: 20px;
}

.user-profile label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
  font-size: 105%;
}

.user-profile input[type="text"] {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
 height: 30px;
 font-weight: bold;
}


.user-profile button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  ont-weight: bold;
}

.user-profile button:hover {
  background-color: #0056b3;
}

.user-profile div {
  margin-bottom: 20px;
}

.user-profile p {
  margin: 10px 0;
}

.user-profile .input-row {
  display: flex;
  margin-bottom: 10px;
}

.user-profile .input-row > div {
  flex: 1;
  margin-right: 10px;
}

.user-profile .input-row > div:last-child {
  margin-right: 0;
}
