.container {
  display: flex;
}

.user-container {
  margin: 0 auto;
  padding: 20px;
  padding-right: 20px;
  overflow-x: auto;
  overflow-y: auto;
  background-size: cover;
  background-position: center;
  background-image: url("../../../public/3734225.jpg");
  height: 100%;
  position: fixed;
  width: 100%;
  display: flex;


}

.profile-container {
  flex: 1; /* Take remaining space */
  padding: 20px;
}

.sidebar {
  /*width: 300px;  Adjust width as needed */
  /*padding: 20px;*/
  margin-top: 3%;
  padding-top: 10%;
  height: 100%;
  position: fixed;
  /*background-color: rgb(28 27 27 / 70%);*/
}

button img {
  margin-right: 10px; /* Add some margin between the image and text */
}

.sidebar button {
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Align items vertically */
}

.sidebar button {
  /*display: block;*/
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  text-align: left;
  background-color: transparent;
  border: none;
  font-size: large;

  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s;
}

.hide-sidebar {
  width: 0; /* Set the width of the sidebar to 0 to hide it */
}

.medical-history-drop-down {
  background-color: rgb(3 15 39 / 96%);
  border-radius: 25px;
  padding: 10%;
  text-align: center;
}

.user-data {
  flex: 1; /* Take remaining space */
  padding-top: 10%;
  /*padding-left: 25%;*/
}
